body {
    background-color: #1a1a1a;
    color: #f1f1f1;
    font-family: "Roboto", sans-serif;
    font-size: 12pt;
}

.button,
.text_field,
.output,
pre {
    display: inline-block;
    font-family: "Roboto Mono", monospace;
    font-size: 12pt;
    line-height: 1.5;
    margin: 8px 0;
    padding: 8px;
}

.button {
    background-color: #555;
    border: none;
    color: #fff;
    cursor: pointer;
    transition-duration: 0.2s;
}

.button:hover {
    background-color: #fff;
    color: #555;
}

.epilepsy {
    animation: epilepsy 0.5s infinite;
}

@keyframes epilepsy {
    0% {
      background-color: #555;
      color: #fff;
    }
    50% {
      background-color: #fff;
      color: #555;
    }
    100% {
      background-color: #555;
      color: #fff;
    }
}

.text_field {
    background-color: #555;
    border: none;
    color: #fff;
    width: 250px;
}

.output {
    background-color: #333;
    border: none;
    color: #fff;
    font-size: 10pt;
    margin: 0;
    padding: 0 8px;
}

pre {
    background-color: #333;
    color: #fff;
    font-family: "JetBrains Mono", monospace;
    font-size: 16pt;
}
